<!--Main Layout-->
<main class="text-center py-5">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">Ejemplo de aplicación que se conecta con un servicio API REST, en este caso a <a href="http://randomuser.me/" target="_blank">randomuser API</a>, con información de usuarios aleatorios.</p>
                <p class="text-center border">Copyright<i class="fa fa-copyright" aria-hidden="true"></i> Carlos Mur - {{year}}</p>
            </div>
        </div>
    </div>

</main>
<!--Main Layout-->
